<h5>Title: <%= @topic.title %> </h5>

<div class="input-field">
    <textarea class="materialize-textarea"></textarea>
    <button class="btn">Add comment</button>
</div>
<ul class="collection"> </ul>

<script>
  document.addEventListener("DOMContentLoaded",function(){
   window.createSocket(<%= @topic.id %>)
  });
</script>

<div>
    <span><%= link "Edit", to: topic_path(@conn, :edit, @topic) %></span>
    <span><%= link "Back", to: topic_path(@conn, :index) %></span>
</div>
